<!-- product popup -->
<div class="modal fade" id='product-<%= @product.id%>'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <button id='close-<%= @product.id%>' type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="row">
        <div class="left-section col-md-6">
          <div id='myCarousel-<%= @product.id%>' class="carousel slide">
            <div class="carousel-inner">
              <%= product_image(@product, @product.image_1, "0", "first", "active" ).html_safe %>
              <%= product_image(@product, @product.image_2, "1", "second", "" ).html_safe %>
              <%= product_image(@product, @product.image_3, "2", "third", "" ).html_safe %>
              <%= product_image(@product, @product.image_4, "3", "fourth", "" ).html_safe %>
            </div>
            <ul class="carousel-indicators list-inline">
              <%= product_image_thumb(@product, @product.image_1, "0", "first", "active" ).html_safe %>
              <%= product_image_thumb(@product, @product.image_2, "1", "second", "" ).html_safe %>
              <%= product_image_thumb(@product, @product.image_3, "2", "third", "" ).html_safe %>
              <%= product_image_thumb(@product, @product.image_4, "3", "fourth", "" ).html_safe %>
            </ul>
          </div>
          
        </div>    
        <div class="right-section col-md-6">
          <h1><%= @product.name%></h1>
          <p class="price"><%=@merchant.currency_code%> <%=@product.price%></p>
          <p class="description"><%=@product.description%></p>
          <div class="price-block">            
            <%= link_to "Buy", "/redirect_to_store.html?url=https://#{@merchant.canonical_name}.myshopmatic.com/products/#{@product.slug}&store=#{@merchant.name}", :class => "btn buy-btn", :target => "_blank"%>
           </div>
        </div>
      </div>
      <hr>
      <p style="margin: 35px 0 15px 0px;">You might also like</p>
      <div class="row">      
        <div class="col-md-3">
          <div class="product">
            <img alt="img" src="<%=@product.image_1%>" />
            <p class="name"><%=@product.name%></p>
            <p class="price"> <%=@merchant.currency_code%> <%=@product.price%></p>
          </div>    
        </div> 
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>  
  $(document).ready(function() {
    $('#first-<%= @product.id%>').zoom();
    $('#second-<%= @product.id%>').zoom();
    $(this).keydown(function(event){
      if (event.keyCode == 27) { 
        $('#close-<%= @product.id%>').click();
      }
    });
  });
<% end %>
  
