<div class="store">
  <%= render 'layouts/masthead' %>  
  <section class="products">
  <% @products.each do |p| %>
    <div class="col-md-3">
      <%= link_to "/redirect_to_store.html?url=https://#{@merchant.canonical_name}.myshopmatic.com/products/#{p.slug}&store=#{@merchant.name}", :target => "_blank" do%>
        <div onclick="product_popup('<%= p.id %>')" class="product">
          <img alt="img" src="<%=(p.image_1.include? "cdn.myshopmatic.com")  ? p.image_1.sub(/(.*)\b.\b/i, '\1_m.') : p.image_1%>" />
          <p class="name"><%=p.name%></p>
          <p class="price"> <%=@merchant.currency_code%> <%=p.price%></p>
        </div>
      <% end %>
    </div>         
    <% end %>        
  </section>   
  <div id="product_popup"></div>  
</div>

<%= javascript_tag do %>
function product_popup(id) {
  var xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      $("#product_popup").append(this.response)
      $('#product-'+id).modal('show');
    }
  };
  xhttp.open("GET", "/products/"+id+"/details.html", true);
  xhttp.send();
}
<% end %>
