<!-- Masthead -->
<header class="text-center">  
  <div class="cover-image">
    <div class="banner" style="background-image: url('<%=@merchant.site_cover_image%>');"></div>    
    <div class="store-img">      
      <img src="<%=@merchant.site_logo%>" />
    </div>
  </div>
  <div class="about-us">
      <p><%= (@merchant.story.blank?) ? @merchant.site_about_us : @merchant.story.html_safe %></p>  
      <div class="contact-info">
        <% @merchant.site_contact_us.keys.each do |key| %>
          <p><%= @merchant.site_contact_us[key]%></p>
        <% end %>
        <button class="visit-store"><a target="_blank" href="https://<%=@merchant.canonical_name%>.myshopmatic.com/">Contact Store</a></button>
      </div>
  </div>
</header>
