<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Shopmatic World" %>
  </title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : " Shopmatic World " %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : " Shopmatic, online shopping " %>">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.goshopmatic.com/in/assets/img/1.0.2/favicon.png">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
      <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="/assets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">

      <!-- Custom styles for this template -->
      <%= stylesheet_link_tag 'custom/index', media: 'all', 'data-turbolinks-track' => 'reload' %>
        <%= csrf_meta_tags %>
          <%= csp_meta_tag %>
</head>

<body>
  <%= render 'layouts/navigation' %>
    <div class="main">
      <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

      <!-- Matomo -->
      <script type="text/javascript">
        if('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js')
            .then(response => {
              console.log('sw registered and response : ', response);
            })
            .catch(error => {
              console.log('sw registration error : ', error);
            });
        }
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
          var u = "//piwik.myshopmatic.com/";
          _paq.push(['setTrackerUrl', u + 'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
          g.type = 'text/javascript';
          g.async = true;
          g.defer = true;
          g.src = u + 'piwik.js';
          s.parentNode.insertBefore(g, s);
        })();
      </script>
      <!-- End Matomo Code -->

</body>

</html>