<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shopmatic World" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Shopmatic World" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'custom/index', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/masthead' %>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
      <%= render 'layouts/footer' %>

  </body>
</html>


